.emails-input {
  @import 'normalize';
  @import 'fonts';

  // remove ie11 default styles
  ::-ms-clear {
    display: none;
  }
  input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 96px;
  background: white;
  border: 1px solid #C3C2CF;
  border-radius: 4px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px;
  box-sizing: border-box;

  .emails-input__tag {
    display: inline-block;
    margin-right:8px;
    background: rgba(102, 153, 255, 0.2);
    border-radius: 100px;
    padding:0px 10px;
    font-size: 14px;
    color: #050038;
    margin-bottom: 4px;
    height: 24px;
    max-width: 100%;

    &.emails-input__tag--invalid {
      box-sizing: border-box;
      background: transparent;
      border-radius: 0px;
      padding:0px;
      border-bottom: 2px dashed #D92929;
    }

    .emails-input__email-container {
      display: inline-block;
      max-width: calc(100% - 18px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 24px;
    }
    button {
      margin-left:6px;
      display: inline-block;
      background: transparent;
      border: none;
      cursor: pointer;
      padding:0 2px;
      height: 24px;
      vertical-align: top;
      img {
        pointer-events: none;
      }
    }
  }

  .emails-input__text-input {
    font-size: 14px;
    padding:0;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
    width: auto;
    border:none;
    outline: none;
    text-align: left;
    overflow: visible;
    line-height: 24px;
    height: 24px;
    min-width: 134px;
    vertical-align: top;
  }
}
