<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/emails-input.<%= commitHash %>.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin:0;
            padding:0;
        }
        .wrapper {
            margin: 24px auto;
            max-width: 540px;
            border-radius: 8px 8px 0px 0px;
            box-sizing: border-box;
            overflow: hidden;
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
        }

        .container {
            width: 100%;
            padding: 24px 50px 32px;
            box-sizing: border-box;
        }

        .container.grey {
            background: #F8F8F7;
            padding-bottom:24px;
            padding-top:32px;
        }

        h2 {
            margin:0 0 24px 0;
            font-weight: normal;
        }

        h2 span {
            font-weight: bold;
        }

        button {
            background: #4262FF;
            border-radius: 6px;
            padding:8px 16px;
            color: white;
            border:0;
            font-size: 14px;
            line-height: 24px;
            margin-right: 16px;
            margin-bottom: 8px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div class="container grey">
        <h2>Share <span>board names </span>with others</h2>
        <div id="emails-input-1" class="emails-input"></div>
    </div>
    <div class="container">
        <button id="add-emails">Add email</button>
        <button id="get-email-counter">Get emails count</button>
        <button id="get-emails">Get emails</button>
        <button id="replace-emails">Replace all emails</button>
    </div>
</div>
<script src="/emails-input.<%= commitHash %>.js" charset="utf-8" ></script>

<script>
  window.onload = function () {
    var emailInput1 = new EmailsInput("emails-input-1");

    var addEmailsButton = document.getElementById('add-emails');
    var getEmailCounterButton = document.getElementById('get-email-counter');
    var getEmailsButton = document.getElementById('get-emails');
    var replaceEmailsButton = document.getElementById('replace-emails');

    addEmailsButton.addEventListener('click', function () {
      emailInput1.addRandomEmails();
    })

    getEmailCounterButton.addEventListener('click', function () {
      emailInput1.getEmailsCount();
    })

    getEmailsButton.addEventListener('click', function () {
      console.log(emailInput1.getEmails());
    })

    replaceEmailsButton.addEventListener('click', function () {
      emailInput1.replaceEmails(["ivan2@mail.ru", "max2@mail.ru"]);
    });

    emailInput1.onChange(function (emails) {
      console.log('onChange')
      console.log(emails)
    });
  };
</script>
</body>
</html>
