<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/emails-input.<%= commitHash %>.css">
    <style>
        body {
            margin:0;
            padding:0;
        }
        .container {
            margin:auto;
            max-width: 800px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="emails-input"></div>
</div>
<script src="/emails-input.<%= commitHash %>.js" charset="utf-8" ></script>

<script>
  window.onload = function () {
    EmailsInput.init();
  };
</script>
</body>
</html>
