.emails-input {
  width: 100%;
  min-height: 90px;
  background: white;
  border: 1px solid #C3C2CF;

  .emails-input__tags {
    display: inline-block;
  }

  .emails-input__tag {
    display: inline-block;
    margin-right:6px;
  }

  .emails-input__text-input {
    font-family: inherit;
    font-size: inherit;
    display: inline;
    max-width: 99%;
    width: auto;
    border:none;
    min-width:10px;
    outline: none;
  }
}
